.idb-app-container {
    width: 90%;
    margin: 0 auto; 
    ul {
        list-style: none;
    }
}

nav a {
    padding:0 15px;
}

ul {
    margin: 10px 0;
}

.idb-header {
    margin-bottom:0px;
}

.idb-story-note {
    float: right;
    margin:10px 0 20px;
}

.idb-list-container {
    padding-bottom:40px; 
    clear:both; 
    img {
        width:100px;
        float:right;
    }
    &.people-container {
        padding: 30px 0;
        min-height: 220px;
        img {
            width: 150px;
            float:left;
            margin-right:30px;
        }
    }
    ul{
            list-style: inherit;
        }
}
    
.idb-story-container {
    margin: 15px 125px 15px 0;
    }

.idb-footer {
    margin-top: 100px;
}