.idb-app-container {
    width: 90%;
    margin: 0 auto; 
    ul {
        list-style: none;
    }
}

nav a, nav span {
    padding:0 15px;
}

nav span {
    font-weight: bold;
}

ul {
    margin: 10px 0;
}

.idb-header {
    margin-bottom:0px;
}

.idb-story-note {
    float: right;
    margin:10px 0 20px;
}

a.idb-list-container {
    text-decoration: none;
    color:inherit;
}

.idb-list-container {
    clear:both; 
    img {
        width:100px;
        float:right;
    }
    &.people-container {
        padding: 30px 0;
        min-height: 220px;
        display: block;
        img {
            width: 150px;
            float:left;
        }
        .person-container {
            margin-left: 190px;
        }
        &:hover,&:focus {
                background-color:lavender;
            }
    }
    ul{
            list-style: inherit;
        }
}
    
.idb-story-container {
    margin: 15px 125px 45px 0;
    }

.idb-footer {
    margin-top: 100px;
}