.idb-app-container {
    width: 90%;
    margin: 0 auto; 
}

ul {
    margin: 10px 0;
}

li {
    margin: 10px 0;
}

.idb-interview-list-container {
    padding-bottom:40px; 
    clear:both; 
    min-height:250px;
    img {
        width:100px;
        float:right;∂
    }
}
    
.idb-story-container {
    margin: 15px 125px 15px 0;
    }

.idb-footer {
    margin-top: 100px;
}