sudo: false
language: python
services:
- mysql
python:
- '2.7'
env:
  matrix:
  - DB=sqlite3
install:
- pip install -r requirements.txt
before_script:
- pip install coverage
- pip install python-coveralls
- pip install pep8
- cp travis-ci/manage.py manage.py
- python manage.py migrate
script:
- pep8 hx_toolkit/ --exclude=hx_toolkit/migrations
- FORCE_VIEW_TESTS=1 coverage run --source=hx_toolkit/ --omit=hx_toolkit/migrations/*
  manage.py test hx_toolkit
after_script:
- coveralls --merge=js-coverage.json
before_deploy:
- find hx_toolkit/ -name \*.pyc -exec rm {} \;
- echo $TRAVIS_TAG > hx_toolkit/VERSION
deploy:
  provider: pypi
  user: uw-it-axdd
  skip_cleanup: true
  password:
    secure: jgjxZIS4OE19q03sM/Ylmvux0O4V8vkYu9Fkc+tqJ/y9ghMeKhTUmmdiIHBUtmvB/hWhb5A7Od/N0AajCoXlao1XJz+qObIuTLIi7QdgMf5NHUWKMJxVb+O20C/GOas0sE1O+v0Bz58fS11ws0RJ4gmpMeFQ8V5o2D/ucsdgjsn0SImgJFuUCaLvsxxSaJ0HlZUY32Xay8x79vxuuDUgcT+rcMiZIYXvGhuSwOIiQvGG4rrPGAFHKrXYAu6pFxpJ7aSVNE19Sz9criwUs+eIxxcq0lNPZXqNYNxx8pecn+J96/F+D5BEt92/Bctkp+5yabMOEVd9OhaLUSd9FrTc19khA/SFDqjMkq6IfncUXnu00g+lwWmxb2HWfvZVHG8nw/tpaXDs8ezbY2bI/HSm6Iyw3kYxyVbD34vJVod/dKMTHP+02ZN6QxEMG2qM2iYT0X0+HdfrJrn3WaeNQ8IUnPMNp6hfuSox4SKYPQvBgSHc7Cr0ZWSsrElqbbh//8FkzyKjdd5BwJTpfEIDAehk1AflFvDNHeaqP/7T9QrA3TpK0f1nAkqFk19oehddFAc7gh7vviGJfKTJRpS0XKj2G/Vo707X/Jj0pFWLiJhuwysxWExh8yO+JpZyIQ3b52XmQ8dHZ0bfscSoz3n8RvUeRt0LfEEDWIg4GTDOTFfGFI=
  on:
    tags: true
    python: '2.7'
