// import entire bootstrap library

$light: #FAF8FC;              // card color
$primary: #1E1E1E;            // text
$secondary: #827252;          // default button
$info: #B4A67F;               // active button
$white: #F8F9fA;              // background color
$min-contrast-ratio: 2.5;
$carousel-control-color: $light;
$carousel-control-width: 25%;
$btn-border-radius: 20px;
$btn-transition: all 0.15s ease 0s;
$btn-active-box-shadow: inset 0 3px 5px rgba($info, .125);
$btn-link-color: $info;
$btn-link-hover-color: $info;
$line-height-base: 1.75;
$navbar-dark-toggler-border-color: $primary;

@use "sass:map";
@import "node_modules/bootstrap/scss/bootstrap";

// app custom colors
$custom-colors: (
  "background": #F8F9fA,
);

li a {
  text-decoration: none;
}

a.active-link {
  color: black;
  text-decoration: none;
}

a.nav-link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin: auto 1em auto;
  font-size: larger;
}


// bootstrap theme + utility merging
$theme-colors: map-merge($theme-colors, $custom-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

$utilities: (
  // MARK: bg-color-hover (changes bg-color on hover)
  "background-color":
    (
      property: background-color,
      class: bg,
      state: hover focus,
      values:
        map-merge(
          $theme-colors,
          (
            "body": $body-bg,
            "white": $white,
            "transparent": transparent,
          )
        ),
    ),
  // MARK: text-color-hover (changes text-color on hover)
  "color":
    (
      property: color,
      class: text,
      state: hover focus,
      values:
        map-merge(
          $theme-colors,
          (
            "white": $white,
            "transparent": transparent,
          )
        ),
    )
);

// additional non-bootstrap styles
.btn-info {
  border: 1px solid rgba(0,0,0);
  border-radius: 20px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-info:hover {
  color: $info;
  background: $info;
  border: 1px solid $info;
}



// MARK: import bootstrap and bootstrap-icons last
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
