{% load static %}
{% load vite %}

<!DOCTYPE html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="cleartype" content="on">

        <link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">
        <link rel="stylesheet" href="{% static "interview_db/css/critical.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "interview_db/css/mobile.scss" %}" type="text/x-scss">
        <link rel="stylesheet" href="{% static "interview_db/css/desktop.scss" %}" type="text/x-scss">
        <title>{% block title %}UW Student Experience Interview Project{% endblock %}</title>

    </head>

    <body {% if request.is_mobile or request.is_tablet %}data-mobile="true"{% endif %}>

        <div class="idb-app-container" >
            <div class="idb-header" >
                <h1>Student Experience Interview Project: {% block header %}{% endblock %}</h1>
            </div>
            <nav>{% block main-nav %}{% if request.path == '/people.html'%}<span>Students</span>{% else %}<a href="/people.html">Students</a>{% endif %}{% if request.path == '/topics.html'%}<span>Topics</span>{% else %}<a href="/topics.html">Topics</a>{% endif %}{% if request.path == '/interviews.html'%}<span>All Interviews</span>{% else %}<a href="/interviews.html">All Interviews</a>{% endif %}{% endblock %}</nav>
            <div class="idb-content-container">
                {% block content %}{% endblock %}
            </div>

            <div id="footer" class="idb-footer" role="contentinfo">
                <div style="margin-left:20px;float:left; width:100%;">&copy; UW-IT, AXDD <a href="http://www.washington.edu/online/privacy/" title="UW Privacy Policy">Privacy</a> <a href="http://www.washington.edu/online/terms/" style="margin-left:5px;" title="UW Terms & Conditions of Use">Terms</a>
                <div style="float:right;">
                    {% if user.is_authenticated %}
                    {{ user.username }}:
                    <a href="{% url 'saml_logout' %}">logout</a>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
