<!--{% load static %}-->
<!--{% load compress %}-->

<!--<meta charset="utf-8">-->
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
<!--<meta name="description" content="">-->
<!--<meta name="HandheldFriendly" content="True">-->
<!--<meta name="MobileOptimized" content="320">-->
<!--<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">-->
<!--<meta http-equiv="cleartype" content="on">-->

<!--&lt;!&ndash; critical (above the fold styles) &ndash;&gt;-->
<!--{% compress css inline %}-->
<!--<link rel="stylesheet" href="{% static "vendor/css/normalize-3.0.1.min.css" %}">-->
<!--<link rel="stylesheet" href="{% static "interview_db/css/critical.scss" %}" type="text/x-scss">-->
<!--<link rel="stylesheet" href="{% static "interview_db/css/mobile.scss" %}" type="text/x-scss">-->
<!--<link rel="stylesheet" href="{% static "interview_db/css/desktop.scss" %}" type="text/x-scss">-->
<!--{% endcompress %}-->
<!--&lt;!&ndash; async (mobile + desktop) &ndash;&gt;-->
<!--{% compress css %}-->
<!--{% endcompress %}-->


<!--&lt;!&ndash; javascript &ndash;&gt;-->
<!--{% compress js %}-->

<!--{% endcompress %}-->

