{% extends 'base.html' %}

{% block content %}

    {% if code_list %}
        {% for code in code_list %}
            {% if code.story_set.all %}
            <div class="idb-list-container"> 
                <h2 class="idb-header"> <a href="{{ code.get_absolute_url }}">{{code}}</a></h2> <span><em>stories: {{code.story_set.count}}</em></span>              
            </div>
            {% endif %}
        {% endfor %} 
    {% else %}
        <p>
            There are no topics available.
        </p>
    {% endif %}

{% endblock %}