{% if code_list %}
    <ul>
        {% for code in code_list %}
        <li>{{code.code}} {{code.story_set.count}}
       {% if code.story_set %}
            <ul>
                {% for each in code.story_set.all %}
                <li>{{each.subcode}}
                <ul>
                    <li>{{each.story}} [{{each.interview}}]</li>
                </ul>
                
                </li>
                {% endfor %} 
            </ul>
        {% endif %}
        </li>
        {% endfor %} 
    </ul>
{% else %}
    <p>
        There are no student stories available.
    </p>
{% endif %}