{% extends 'base.html' %}

{% block content %}
    {% if interview_list %}
    {% for interview in interview_list %}
    {% if interview.story_set.all %}
    <div class="idb-list-container" >
    {% if interview.image %}<img src="{{ interview.image.url }}">{% else %}<img src="../media/interview_db_images/no-image.jpg">{% endif %}
    <div><h2><a href="{{ interview.get_absolute_url }}" title="Read {{ interview.student.first_name }} {{ interview.student.last_name|make_list|first }}'s full interview: {{ interview.date }}" >{{ interview.student.first_name }} {{ interview.student.last_name|make_list|first }}.</a></h2>
    <h3 class="idb-header">{{ interview.date }}</h3>
    <span><em>stories: {{interview.story_set.count}}</em></span>
    </div>
        <ul >
            {% for story in interview.story_set.all %}
            <li class="idb-story-container">
                {{story.story}}
                <p>{% for each in story.coding_set.all %}<em>
                <a href="{{ each.code.get_absolute_url }}" title="All stories tagged: {{ each.code }}">{{ each.code }}, <strong>{{ each.subcode}}</strong></a></em><br/>
                {% endfor %} </p>                 
            </li>
            {% endfor %} 
        </ul>
    </div>
     {% endif %}
    {% endfor %} 
    {% else %}
        <p>
            There are no student stories available.
        </p>
    {% endif %}

{% endblock %}