{% extends 'base.html' %}

{% block header %}
Student Experience Interview Project: Interviews
{% endblock %}

{% block main-nav %}
<a href="/">Home</a>
{% endblock %}

{% block content %}
    {% if interview_list %}
    {% for interview in interview_list %}
    <div class="idb-interview-list-container" >
    {% if interview.image %}<img src="../media/{{ interview.image }}">{% endif %}
    <div><h2 >{{ interview.student.first_name }} {{ interview.student|make_list|first }}. </h2>
    <h3>{{ interview.date }}</h3>
    </div>
        <ul >
            {% for story in interview.story_set.all %}
            <li class="idb-story-container">
                {{story.story}}<br/><em>{{ story.code }}, <strong>{{ story.subcode }}</strong></em>
            </li>
            {% endfor %} 
        </ul>
    </div>
    {% endfor %} 
    {% else %}
        <p>
            There are no student stories available.
        </p>
    {% endif %}

{% endblock %}