{% extends 'base.html' %}

{% block header %}
Interviews
{% endblock %}

{% block main-nav %}
<a href="/">Topics</a>
{% endblock %}

{% block content %}
    {% if interview_list %}
    <ul>
    {% for interview in interview_list %}
    {% if interview.story_set.all %}
    <li>
    <div class="idb-list-container" >
    {% if interview.image %}<img src="../media/{{ interview.image }}">{% endif %}
    <div><h2>"{{ interview.pull_quote }}"</h2>
   <p>{{ interview.student.first_name }} {{ interview.student.last_name|make_list|first }}. </p>
   <p><em>{{ interview.get_standing_display }}, {{ interview.major.all|join:", " }}{% if interview.student_type %}, {{ interview.student_type.all|join:", " }}{% endif %}</em></p>      
   </div>
   </li>
   {% endif %}
    {% endfor %} 
    {% else %}
        <p>
            There are no student stories available.
        </p>
    </ul>
    {% endif %}

{% endblock %}