{% extends 'base.html' %}

{% block header %}
Topics
{% endblock %}

{% block content %}

    {% if code_list %}
        {% for code in code_list %}
            {% if code.story_set.all %}
            <div class="idb-list-container"> 
                <h2 class="idb-header">{{code}}</h2> <span><em>stories: {{code.story_set.count}}</em></span>
                            {% for each in code.coding_set.all %}
                            {% if each.subcode %}
                            <div class="idb-story-container"><strong>{{each.subcode}}</strong>
                                <ul>
                                    <li>{{each.story.story}}<br/><span class="idb-story-note"><a href="{{ each.story.interview.get_absolute_url }}" title="Read {{ each.story.interview.student.first_name }} {{ each.story.interview.student.last_name|make_list|first }}'s full interview: {{ each.story.interview.date }}" ><em>{{each.story.interview.student.first_name}} {{each.story.interview.student.last_name|make_list|first}} : {{each.story.interview.date}}</em></a></span></li>    
                                     
                                </ul> 
                            </div>
                            {% endif %}
                            {% endfor %}
                           
            </div>
            {% endif %}
        {% endfor %} 
    {% else %}
        <p>
            There are no student stories available.
        </p>
    {% endif %}

{% endblock %}