ingress:
  enabled: true
  tls:
    notify:
      secretName: interview-db.axdd.s.uw.edu-ingress-cert
      hosts:
        - interview-db.axdd.s.uw.edu
  hosts:
    interview-db.axdd:
      host: interview-db.axdd.s.uw.edu
      paths:
        - "/"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
affinity:
   podsSpanNodes: true
lifecycle:
  enabled: true
  preStop:
    enabled: true
readiness:
  enabled: true
database:
  engine: mysql
  name: interview_test
  hostname: interview-db-db-service
  secretName: interview-db.axdd.s.uw.edu-sql-secrets
externalService:
  enabled: true
  name: interview-db-db-service
  type: ClusterIP
  serviceAddress: 172.18.0.14
  servicePort: 3306
gcsCredentials:
  mounted: true
  secretName: interview-db.axdd.s.uw.edu-gcs-credentials
repo: interview-db
instance: test
image:
  repository: registry.hub.docker.com/acait/interview-db
  tag: IMAGE_TAG
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
externalSecrets:
  enabled: true
  secrets:
    - name: interview-db.axdd.s.uw.edu-secrets
      externalKey: axdd/kv/data/interview-db/test/secrets
      data:
        - name: django-secret
          property: django-secret
        - name: storage-bucket-name
          property: storage-bucket-name
    - name: interview-db.axdd.s.uw.edu-sql-secrets
      externalKey: axdd/kv/data/interview-db/test/sql-secrets
      data:
        - name: username
          property: username
        - name: password
          property: password
    - name: interview-db.axdd.s.uw.edu-gcs-credentials
      externalKey: axdd/kv/data/interview-db/test/gcs-credentials
      data:
        - name: credentials.json
          property: credentials.json
    - name: interview-db.axdd.s.uw.edu-ic-certs
      externalKey: axdd/kv/data/interview-db/test/ic-certs
      data:
        - name: interview-db.axdd.s.uw.edu-ic.cert
          property: interview-db.axdd.s.uw.edu-ic.cert
    - name: interview-db.axdd.s.uw.edu-uw-idp-cert
      externalKey: axdd/kv/data/idp-cert
      data:
        - name: uw-idp-cert
          property: cert
environmentVariables:
  - name: ENV
    value: dev
  - name: AUTH
    value: SAML
  - name: ID_ADMIN_GROUP
    value: u_jcivjan_sip-admin
  - name: ID_FRONT_END_GROUP
    value: u_jcivjan_sip-frontend
  - name: SAML_ENTITY_ID
    value: https://interview-db.axdd.s.uw.edu/saml2
  - name: CLUSTER_CNAME
    value: interview-db.axdd.s.uw.edu
  - name: SAML_USER_ATTRIBUTE
    value: uwnetid
environmentVariablesSecrets:
  djangoSecret:
    name: DJANGO_SECRET
    secretName: interview-db.axdd.s.uw.edu-secrets
    secretKey: django-secret
  samlSpCertSecret:
    name: SP_CERT
    secretName: interview-db.axdd.s.uw.edu-ic-certs
    secretKey: interview-db.axdd.s.uw.edu-ic.cert
  samlIdpCertSecret:
    name: IDP_CERT
    secretName: interview-db.axdd.s.uw.edu-uw-idp-cert
    secretKey: uw-idp-cert
  gcsBucketName:
    name: GCS_BUCKET_NAME
    secretName: interview-db.axdd.s.uw.edu-secrets
    secretKey: storage-bucket-name
