<ul class="list-unstyled">
    
    <li><a href="/husky_experience_message?article=wheres-your-focuslearning-or-competing">Where&#39;s Your Focus–Learning or Competing?</a></li>
    
    <li><a href="/husky_experience_message?article=falling-love-class">Falling in Love with a Class</a></li>
    
    <li><a href="/husky_experience_message?article=solve-world-problems">Solve World Problems</a></li>
    
    <li><a href="/husky_experience_message?article=first-impressions-matter">First Impressions Matter</a></li>
    
    <li><a href="/husky_experience_message?article=got-experience">Got Experience?</a></li>
    
    <li><a href="/husky_experience_message?article=are-you-your-gpa">Are you your GPA?</a></li>
    
</ul>