{% load static %}

<div class="myuw-article">
    <div class="row">
        <div class="col-md-8">
            <div class="myuw-article-meta">
                <a href="/husky_experience/">Husky Experience</a>: Thrive - Make Your Way
            </div>
            <h2 class="myuw-heading-page">Columns and Golf</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

            <figure class="myuw-article-heroimage">
                <img src="{% static 'hx_toolkit_output/images/ColumnsAndGolfers.ca1925.1983.10.589-X2.jpg' %}">
            </figure>

            &lt;p&gt;&lt;a href=&quot;https://en.wikipedia.org/wiki/Golf&quot;&gt;Golf&lt;/a&gt;, unlike most ball games, cannot and does not utilize a standardized playing area, and coping with the varied terrains encountered on different courses is a key part of the game. The game at the highest level is played on a course with an arranged progression of 18 holes, though recreational courses can be smaller, usually 9 holes. Each hole on the course must contain a tee box to start from, and a putting green containing the actual hole or cup (4.25 inches in diameter). There are other standard forms of terrain in between, such as the fairway, rough (long grass), sand traps (or &quot;bunkers&quot;), and various hazards (water, rocks, fescue) but each hole on a course is unique in its specific layout and arrangement.&lt;/p&gt;

&lt;p&gt;Golf is played for the lowest number of strokes by an individual, known as stroke play, or the lowest score on the most individual holes in a complete round by an individual or team, known as match play. Stroke play is the most commonly seen format at all levels, but most especially at the elite level.&lt;/p&gt;

            
                <h3 class="myuw-heading-page">Resources</h3>
                <ul>
                    
                        <li><a href="https://en.wikipedia.org/wiki/Golf">Wiki Golf</a></li>
                    
                </ul>
            

            
                <h3 class="myuw-heading-page">Related Topic</h3>
                <ul>
                    
                        <li><a href="/husky_experience?article=university-washington">The University of Washington</a></li>
                    
                </ul>
            

        </div>

        <div class="col-md-4">
            <div class="myuw-canvas myuw-article-aside">
                <h3 class="myuw-canvas-title">About Thrive Messages</h3>
                <p>Thrive messages are designed to help UW students succeed wherever they are in their University career. The message address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Make Sense.
                </p>
                <a href="#">Learn more about Thrive and the Husky Experience.</a>
            </div>
        </div>
    </div>

</div>
