{% load static %}

<div class="myuw-article">
    <div class="row">
        <div class="col-md-8">
            <div class="myuw-article-meta">
                <a href="/husky_experience/">Husky Experience</a>: Thrive - Make Your Way
            </div>
            <h2 class="myuw-heading-page">You Are Your Network</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

            <figure class="myuw-article-heroimage">
                <img src="{% static 'hx_toolkit_output/images/you_are_your_network.jpg' %}">
            </figure>

            <p>Imagine networking is like spinning a web: you are at the center and want to gather around you people with different strengths, personalities, connections and ways of relating to you. Job search gurus describe 10 types of people to weave into your web:</p>

<ul>
<li>Mentor: Someone you can learn from, someone who knows you well and who cares about your success</li>
<li>Expert: Someone with expert information about the field you want to enter, and where it's headed </li>
<li>Connector: Someone who's great at seeing opportunities and connecting you to people, resources and information</li>
<li>Coach: Someone who helps you think through your decisions – and remains objective in the process</li>
<li>Visionary: A “blue sky” thinker who fuels your dreams</li>
<li>An “on the ground” pragmatist who gives you a reality check </li>
<li>Guide: Someone who's been on the journey and who can help you make a plan for achieving your goal</li>
<li>Fellow Traveler: Someone in a similar place as you, who can share your ups and downs</li>
<li>Mentee: Someone one step behind you to whom you can offer help</li>
</ul>

<p>This is a guide, not a formula, for thinking about your network and who you may want to add. Aim for diversity in your network – people from different fields, age groups, cultural backgrounds – as you think of people who could fill one or more roles. Eventually, you'll build a strong professional network that endures over time.</p>

            

            
                <h3 class="myuw-heading-page">Related Topic</h3>
                <ul>
                    
                        <li><a href="/husky_experience?article=jobs-come-through-people-you-know">Jobs Come Through People You Know</a></li>
                    
                </ul>
            

        </div>

        <div class="col-md-4">
            <div class="myuw-canvas myuw-article-aside">
                <h3 class="myuw-canvas-title">About Thrive Messages</h3>
                <p>Thrive messages are designed to help UW students succeed wherever they are in their University career. The message address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Make Sense.
                </p>
                <a href="#">Learn more about Thrive and the Husky Experience.</a>
            </div>
        </div>
    </div>

</div>
