{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Your Friends, Your Success</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/your_friends_your_success_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/your_friends_your_success_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/your_friends_your_success_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/your_friends_your_success_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/your_friends_your_success_650.jpg' %}"
                     alt="Environmental Science students enjoy a group field trip to the North Cascades.">
            
            
        </figure>
        <div class="myuw-article-body">
        <p>There’s no one right way to “do” friends at UW – some people have many friends from different social circles, others have a few close ties. What’s important is the quality of those relationships.</p>

<p>Research shows that friendships support your success when they provide the following:</p>
<ul>
<li><strong>Social support</strong> – All work and no play is not the way to succeed. Seek friends who can share with you your ups and downs, make you laugh, and get you out and doing things.</li>
<li><strong>Academic help</strong> – Seek friends who can advise you on study strategies, recommend courses, or introduce you to new majors. Study buddies also matter – people who to proofread your drafts, quiz you before an exam, or simply study with or alongside you.</li>
<li><strong>Academic encouragement</strong> – Emotional support matters, too. Seek friends who will wish you luck on your exam, tell you you’ll do great, and congratulate you or commiserate depending on the results. Supportive friends also help you deal with stress and understand your need to stay in when you really need to hit the books.</li>
<li><strong>Intellectual discussions</strong> – Discussions about ideas are an important way to integrate your social and academic life. Whether you talk about small things you learned in class or tackle big controversial issues, these discussions deepen both your thinking and your friendships.</li>
</ul>
<p>These types of supports don’t need to come from the same friends – you might study with some and socialize with others – but together they function as an important part of a successful Husky experience.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.huffingtonpost.com/stacia-pierce/11-secrets-to-choosing-th_b_6038658.html">Choosing the Right Friends</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=jobs-come-through-people-you-know">Jobs Come Through People You Know</a></li>
                
                    <li><a href="/husky_experience_message?article=you-are-your-network">You Are Your Network</a></li>
                
                    <li><a href="/husky_experience_message?article=everything-matters-think-about-it">Everything Matters – Think About It</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
